body {
    margin: 0;
    padding: 0;
}

.header {
    /*auto, 100% 로 기본값으로 초기화*/
    /* width: auto;  */
    /* height: auto; */
    background-color: white;
    border-bottom: 1px solid lightgrey;
}

.container {
    width: 980px;
    margin: auto;
}

.container-left {
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    float: left;
    margin-right: 5px;
}
.logo img {
    display: block;
}

.menu {
    float: left;
}
.menu-item{
    font-size: 16px;
    line-height: 1;
    float: left;
    padding: 8px 10px; /*padding: top,bottom: 8px, left,right: 10px*/
}
.container-right{
    background-color: red;
    padding-top: 20px;
    padding-bottom: 20px;
}
.categori{
    float: left;
}
.categori-item{
    font-size: 13px;
    line-height: 1;
    float: left;
    padding: 8px 10px;
}
/*:: : 가상요소 선택자,*/
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}